/* 
    Common CSS styling for all pages
*/

body {font-family: "Lato", sans-serif;}

.main {margin-top: 60px;}

/* Styling for horizontal navigation bar */

.nav {background-color: rgb(24, 24, 24); position: fixed; top: 0; left: 0; width: 100%;}
.nav a {float: left; font-size: 16px; color: #818181; text-align: center; padding: 14px 16px; text-decoration: none;}
.nav-right {float: right;}

/* Body Elements */

.page {padding-top: 2em; padding-bottom: 2em; margin: auto; width: 60vw; background-color: rgb(24,24,24); color:#fff;}

li {margin: 0.5em}

.card {box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2); transition: 0.3s; width: 40%;}
.card:hover {box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);}
.container {padding: 2px 16px;}